<div class="my-3">
  <h2>Form Event</h2>

  <br>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">Add Video</div>
        <div class="card-body">
          <button type="button"   class="btn btn-primary" #addBtn>Add</button>
        </div>
      </div>
    </div>

    <div class="col-md-4">

      <div class="card">
        <div class="card-header">List</div>
        <div class="card-body">
          <ul id="elContainer">
            
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">

    <div class="card">
      <div class="card-header">List</div>
      <div class="card-body">
        <ul id="elContainer2">
          
        </ul>
      </div>
    </div>
  </div>



  </div>
<br>
  <button class="btn btn-success" type="button" (click)="goBack()">Go Back</button>
</div>