<h4>Updat Book Form</h4>
<!-- <p *ngIf="dataSaved" ngClass="success">Record saved Successfully</p> -->
<div class="container">
  <div class="row">
    <div class="form-bg">
      <form [formGroup]="bookForm" (ngSubmit)="onFormSubmit()">
        <div class="form-group">
          <label for="exampleInputFname">Book Id </label>
          <input
            type="text"
            class="form-control"
            formControlName="id"
            placeholder="Enter Book Id"
           
          />
        </div>
        <div class="form-group">
          <label for="exampleInputFname">Book Name </label>
          <input
            type="text"
            class="form-control"
            formControlName="name"
            placeholder="Enter Book Name"
          />
        </div>

        <div class="form-group">
          <label for="exampleInputLname">Book Category</label>
          <input
            type="text"
            class="form-control"
            formControlName="category"
            placeholder="Enter Book Category"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputLname">Book Author</label>
          <input
            type="text"
            class="form-control"
            formControlName="author"
            placeholder="Enter Author Name"
          />
        </div>
        <br />
        <div class="d-grid gap-4 d-md-flex">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="bookForm.invalid"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
