<div class="container-fluid">



  
<div class="row">
  <div class="col-sm-3">
    <div class="card" routerLink="form-event">
      <div class="card-body">
        <h5 class="card-text">of & from</h5>
      </div>
    </div>
  </div>
  
  
  <div class="col-sm-3">
    <div class="card" routerLink="interval">
      <div class="card-body">
        <h5 class="card-text">interval & timer</h5>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-text">Custom Observables</h5>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-text">map</h5>
      
      </div>
    </div>
  </div>
</div>

<!-- 2nd row start here -->

<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-text">filter</h5>
      </div>
    </div>
  </div>
  
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-text">Retry,RetryWhen,scan&delay</h5>
      </div>
    </div>
  </div>
  
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-text">DebounceTime & distinctUntilChanged</h5>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-text">Pluck</h5>
      
      </div>
    </div>
  </div>
</div>

<!-- 3rd row start here -->
<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-text">Take,TakeLast,TakeUntil,toArray,Timer</h5>
      </div>
    </div>
  </div>
  
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-text">ReplaySubject</h5>
      </div>
    </div>
  </div>
  
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-text">AsyncSubject</h5>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-text">Error Handling - Catch & Retry</h5>
      </div>
    </div>
  </div>
</div>

  <!-- 4th row start here -->
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-text">switchMap</h5>
        </div>
      </div>
    </div>
    
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-text">mergeMap</h5>
        </div>
      </div>
    </div>
    
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-text">concatMap</h5>
        </div>
      </div>
    </div>
  
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-text">Merge</h5>
        </div>
      </div>
    </div>

</div> 
<!-- 5th row start here -->

<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-text">flatMap</h5>
      </div>
    </div>
  </div>
  
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-text">toArray</h5>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-text">Reduce</h5>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-text">Tap</h5>
      
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card" routerLink="promise">
      <div class="card-body" >
        <h5 class="card-text" >Promise</h5>
      </div>
    </div>
  </div>

</div>

</div>